java_alternatives: 
  java: /usr/bin/java
  javac: /usr/bin/javac
  javaws: /usr/bin/javaws
  jar: /usr/bin/jar

java:
  source_url:  'http://s3.amazonaws.com/bigdata-thirdparty/sun-jdk/jdk-8u5-linux-x64.tar.gz'
  source_hash_url:  'http://s3.amazonaws.com/bigdata-thirdparty/sun-jdk/jdk-8u5-linux-x64.tar.gz.md5'
  version_name: jdk1.8.0_05
  prefix: /opt/java
  dl_opts: -L  
